.cover__overlay{
    width: 100%;
    margin: auto;
    text-decoration: none;
    background: center center no-repeat url('../../../images/cover-trains.jpg');
    background-size: cover;
    background-position:center;
}
.cover__overlay::before {
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background:#2A2C2F;
    opacity: 0.3;
}

.cover__overlay:hover::before{
    opacity: 0.8;
}
